:root
{
  /* fixed to layout*/
  --element-border-width-thin: 1px;
  --element-border-width-bold: 3px;
  --transition-duration: 0.25s;
  --transition-timing-function: ease;
  --transition-delay: 0s;
  --transition-ultimate: all var(--transition-duration) var(--transition-timing-function) var(--transition-delay);
}

*
{
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  font-family: 'Yantramanav';
  color: var(--element-text-color-normal);
}

html,
body
{
  margin: 0;
  padding: 0;
  background-color: var(--site-background-color);
  /* overflow: hidden; */
}

.elements-container
{
  height: 50vh;
  overflow: scroll;
  scrollbar-width: none;
}

.elements-container::-webkit-scrollbar
{
  display: none;
}

.elements-container scrollbar 
{
  position: absolute;
  right: 0;
  width: 0.25em;
  background: var(--element-container-scrollbar-track-color);
  z-index: 1;
}

.elements-container scrollbar thumb
{
  position: absolute;
  width: 0.35em;
  margin-left: -0.05em;
  background: var(--element-container-scrollbar-thumb-color);
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: var(--transition-ultimate); */
}

.elements-container scrollbar thumb:hover
{
  margin-left: -1.1em;
  width: 2.45em;
  background-clip: content-box;
  border-style: solid;
  border-color: transparent;
  border-width: 0em 1em;
}

.elements-container scrollbar thumb::after
{
  content : '=';
  font-size: 0.5em;
  color: var(--element-container-scrollbar-thumb-text-color);
}

.elements-container > .container
{
  padding-left: 0;
}

.elements-container > .container > .row
{
  height: 50vh;
}

.element
{
  margin: 0.25em 0;
  padding: 0;
  border-style: solid;
  border-color: var(--element-container-border-color-normal);
  border-width: var(--element-border-width-thin);
  background-color: var(--element-background-color-normal);
  align-items: center;
  justify-content: space-between;
}

.element:hover
{
  border-color: var(--element-container-border-color-active);
}

.element > [class^=col]
{
  padding: 0.1em;
}

.element .regular-label
{
  margin-left: 0.5em;
}

.element:hover .regular-label
{
  color: var(--element-text-color-active);
}

button,
input,
.select label,
textarea
{
  display: flex;
  align-items: center;
  justify-content: start;
  border-width: var(--element-border-width-thin);
  border-color: var(--element-border-color-normal);
  border-bottom-width: var(--element-border-width-bold);
  border-bottom-color: var(--element-border-bottom-color-normal);
  background-color: var(--element-background-color-normal);
  background-image: radial-gradient(farthest-side at center bottom, var(--element-background-gradient-color-active) 0%, transparent 50%);
  background-repeat: no-repeat;
  background-size: 200% 200%;
  background-position: center top;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  height: 2em;
  width: 100%;
  padding: 0.25em 1em 0em;
  transition: var(--transition-ultimate);
  color: var(--element-text-color-normal);
  outline: none;
}

.all-thin
{
  border-bottom-width: var(--element-border-width-thin);
  border-bottom-color: var(--element-border-color-normal);
}

button
{
  justify-content: center;
}

button.icon-button
{
  width: 2em;
  border-style: solid;
  border-color: var(--element-border-bottom-color-normal);
  border-bottom-color: var(--element-border-bottom-color-normal);
  margin-left: 0.1em;
  margin-right: 0.1em;
}

button.icon-button:first-child
{
  margin-left: 0;
}

button.icon-button:last-child
{
  margin-right: 0;
}

button:hover:not(:disabled),
input:hover:not(:disabled),
.select label:hover:not(:disabled),
textarea:hover:not(:disabled)
{
  background-position: center bottom;
}

button:focus:not(:disabled),
button:hover:not(:disabled),
input:focus:not(:disabled),
input:hover:not(:disabled),
.select label:hover:not(:disabled),
textarea:focus:not(:disabled),
textarea:hover:not(:disabled)
{
  border-color: var(--element-border-color-active);
  border-bottom-color: var(--element-border-bottom-color-active);
  color: var(--element-text-color-active);
}

input::placeholder,
textarea::placeholder
{
  color: var(--element-text-color-normal);
}

button:disabled,
input:disabled,
textarea:disabled
{
  color: var(--element-text-color-disabled);
  background-color: var(--element-background-color-disabled);
}

input:disabled::placeholder,
textarea:disabled::placeholder
{
  color: var(--element-text-color-disabled);
}

.range button,
.range input[type=text]
{
  background: transparent;
  border: none;
  width: 2em;
}

.range input[type=text]
{
  width: 4em;
  text-align: right;
}

.range input[type=range]
{
  -webkit-appearance: none;
  height: 0.5em;
  padding: var(--element-border-width-thin);
  border-width: var(--element-border-width-thin);
  border-color: var(--element-border-color-active);
  background: transparent;
  background-image: linear-gradient(to right, var(--rgba-font-primary-100) 50%, transparent 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-position-x: calc(100% - 37%);
  background-clip: content-box;
  overflow: visible;
}

.range:hover input[type=range]
{
  border-color: var(--element-border-color-active-more);
}

.range input[type=range]::-webkit-slider-thumb
{
  -webkit-appearance: none;
  border: var(--element-border-width-thin) solid var(--element-text-color-normal);
  background-color: transparent;
  height: 1em;
  width: 0.25em;
  cursor: pointer;
  transition: var(--transition-ultimate);
}

.range:hover input[type=range]::-webkit-slider-thumb
{
  border-color: var(--element-border-bottom-color-active);
}

.toggle
{
  width: 6em;
  height: 2em;
  border: var(--element-border-width-thin) solid var(--element-border-color-active);
}

.toggle *
{
  user-select: none;
}

.element:hover .toggle,
.toggle:hover
{
  border-color: var(--element-border-color-active-more);
}

.toggle input[type=checkbox]
{
  display: none;
}

.toggle i
{
  position: absolute;
  width: calc(3em - 2 * var(--element-border-width-thin));
  height: calc(2em - 2 * var(--element-border-width-thin));
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  left: 3em;
}

.toggle .toggle-slider
{
  background: var(--element-border-bottom-color-normal);
}

.element:hover .toggle .toggle-slider,
.toggle:hover .toggle-slider
{
  color: var(--element-text-color-active);
}

.toggle .toggle-slider:after
{
  content: 'clear';
}

.toggle input[type=checkbox]:checked ~ .toggle-slider:after
{
  content: 'done';
}

.toggle input[type=checkbox]:not(:checked) ~ .toggle-counterpiece,
.toggle input[type=checkbox]:checked ~ .toggle-slider
{
  left: 0em;
}

.select button
{
  margin: 0;
  justify-content: space-between;
  width: 100%;
}

.select button:focus:not(:hover)
{
  border-color: var(--element-border-color-normal);
  border-bottom-color: var(--element-border-bottom-color-normal);
  color: var(--element-text-color-normal);
}

.select button:after
{
  content: "▼";
}

.select button:focus:after
{
  content: "▲";
}

.select input[type=radio]
{
  display: none;
}

.select .options
{
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
  height: 0;
  overflow: hidden;
  transition: height 0s ease 0.25s;
}

.select button:focus ~ .options
{
  height: 100vh;
}

.select .options label
{
  display: flex;
  justify-content: space-between;
}

.select input[type=radio]:checked + label:after
{
  content: 'done';
  font-family: 'Material Icons';
  text-transform: none;
}

textarea
{
  height: 5em;
  resize: none;
}

/* THIS PART SHALL ONLY AFFECT THE BOTTOM BORDER, BUT IT OVERWRITES EVERY BORDER */
textarea.borderbottomtest
{
  border-width: var(--element-border-width-thin);
  border-bottom-width: var(--element-border-width-bold);
  border-color: var(--element-border-color-normal);
  border-bottom-color: var(--element-border-bottom-color-normal);
  border-image-width: 0 50% var(--element-border-width-bold) 50%;
}

textarea.borderbottomtest:hover
{
  border-image-source: linear-gradient(to left, yellow, yellow);
  border-image-width: 0 0% var(--element-border-width-bold) 0%;
  border-image-repeat: stretch;
  border-image-outset: 0 0;
  border-image-slice: 0 0 1 0;
}

/* DESIGN SPECIFIC CSS */

background {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: -1;
  filter: brightness(110%) saturate(250%) contrast(70%) hue-rotate(-0deg) opacity(50%);
  background-image: url("../img/rm-deimos.jpg");
  background-size: cover;
  background-position: center top;
}

#windowframe
{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#windowframe img
{
  pointer-events: none;
}